{% extends 'app.html.twig' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/src/assets/css/formulaire.css" />
{% endblock %}
{% block main %}
<div class="container">
    {% include 'formulaire-article.html.twig' %}
</div>
{% endblock %}
