{% extends 'app.html.twig' %}
{% block main %}
    <div class="container">
            {% for article in articles %}
                {% include 'article-card.html.twig' with article %}
                {% set count = count + 1 %}
            {% endfor %}
    </div>
    {% include 'pagination.html.twig' with pagination %}
{% endblock %}
