{% extends 'app.twig.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="src/assets/css/formulaire.css" />
{% endblock %}
{% block main %}
<div class="container">
    <form id="subscriptionForm" class="form-horizontal" role="form" action="/connexion" method="post">
        <h2>Connexion</h2>
        <div class="form-group">
            <label for="email" class="col-md-6 control-label">Email*</label>
            <div class="col-sm-12">
                <input type="email" id="email" name="email" placeholder="Email" class="form-control" value="{{email}}" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-6 control-label">Mot de passe*</label>
            <div class="col-sm-12">
                <input type="password" id="password" name="password" placeholder="Mot de passe" class="form-control" required autofocus minlength="6">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-sm-offset-3">
                <span class="help-block">*Champs requis</span>
            </div>
        </div>
        {% if erreur %}
        <div class="form-group alert alert-danger">
            <div class="col-sm-12 col-sm-offset-3">
                Ces informations de connexions sont erronées
            </div>
        </div>
        {% endif %}
        <div id="error" class="form-group alert alert-danger">
            <div class="col-sm-12 col-sm-offset-3">
                Au moins un champs requis requiert votre attention
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="src/assets/js/connexion.js"></script>
{% endblock %}
 