{% extends 'app.twig.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="src/assets/css/inscription.css" />
{% endblock %}
{% block body %}
<h1>Formulaire d'inscription</h1>
<form id="formulaire-inscription" action="/inscription-validation" method="post" onsubmit="return validerInscription(event);">
    <fieldset>
        <legend>Identité</legend>
        <label for="nom">Nom :</label><input id="nom" type="text" name="nom" required/><br>
        <label for="prenom">Prenom :</label><input id="prenom" type="text" name="prenom" required/>
    </fieldset>
    <fieldset>
        <legend>Adresse</legend>
        <label for="voie">Libellé voie :</label><input id="voie" type="text" name="voie" required/><br>
        <label for="numero">Numéro voie :</label><input id="numero" type="text" name="numero" required/><br>
        <label for="cp">Code postale :</label><input id="cp" type="text" name="cp" required/><br>
        <label for="commune">Commune :</label><input id="commune" type="text" name="commune" required/>
    </fieldset>
    <fieldset>
        <legend>Contact</legend>
        <label for="telephone">Téléphone :</label><input id="telephone" type="text" name="telephone" /><br>
        <label for="email">Email :</label><input id="email" type="email" name="email" required/>
    </fieldset>
    <fieldset>
        <legend>Authentification</legend>
        <label for="pass">Mot de passe :</label><input id="pass" type="password" name="pass" required/><br>
        <label for="confirm">Confirmation du mot de passe :</label><input id="confirm" type="password" name="confirm" required/>
    </fieldset>
    <input type="submit" value="Valider" id="btn-valider"/>
</form>
<script src="src/assets/js/inscription.js"></script>
{% endblock %}
