<div id="admin-modale-suppression" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Veuillez confirmer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="admin-modale-suppression-message">Êtes-vous sur de vouloir supprimer cet article ?</p>
                <div id="admin-modale-suppression-erreur" class="alert alert-danger" role="alert">Une erreur est survenue</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="admin-modale-suppression-btn" type="button" class="btn btn-danger">Supprimer l'article</button>
            </div>
        </div>
    </div>
</div>