{# Pour que le lien 'Catalogue' renvois vers la premire page sans filtre, ou nulle part s'il n'y as pas de filtre #}
{% if activePage is not same as('catalogue') or pagination.currentFilters.filtre is not empty or pagination.currentFilters.tri is not empty %}
    {% set catalogueHref = "/catalogue/1" %}
{% else %}
    {% set catalogueHref = '#' %}
{% endif %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/accueil">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if activePage is same as('catalogue') %}active{% endif %}" href="{{ catalogueHref }}">Catalogue</a>
            </li>
            {% if session.email %}
                <li class="nav-item">
                    <a class="nav-link {% if activePage is same as('compte') %}active{% endif %}" href="{% if activePage is same as('compte') %}#{% else %}/compte{% endif %}">Mon compte</a>
                </li>
                {% if session.admin %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if activePage starts with 'admin' %}active{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" href="#">Administration</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% if activePage is same as('admin-article') %}#{% else %}/administration/article{% endif %}">Ajouter un article</a>
                            <a class="dropdown-item" href="{% if activePage is same as('admin-utilisateur') %}#{% else %}/administration/utilisateurs{% endif %}">Gestion des utilisateurs</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/deconnexion">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if activePage is same as('inscription') %}active{% endif %}" href="{% if activePage is same as('inscription') %}#{% else %}/inscription{% endif %}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if activePage is same as('connexion') %}active{% endif %}" href="{% if activePage is same as('connexion') %}#{% else %}/connexion{% endif %}">Connexion</a>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0 justify-content-end" action="/catalogue/1" method="get">
            <select name="tri" class="custom-select col-md-3 mr-sm-2">
                <option value="NAME ASC" selected>Nom croissant</option>
                <option value="NAME DESC">Nom décroissant</option>
                <option value="PRICE ASC">Prix croissant</option>
                <option value="PRICE DESC">Prix décroissant</option>
            </select>
            <input type="number" name="priceMin" placeholder="Prix min" class="form-control mr-sm-2" min="0.01" step="0.01" style="width: 15%">
            <input type="number" name="priceMax" placeholder="Prix max" class="form-control mr-sm-2" min="0.01" step="0.01" style="width: 15%">
            <input type="text" name="filtre" placeholder="Rechercher un produit" class="form-control mr-sm-2" aria-label="Rechercher" value="{{ pagination.currentFilters.filtre }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
    </div>
</nav>